{% extends "my_blog/base.html" %}
{% block title %}about-me{% endblock %}
{% block static_files %}{% endblock %}
{% block content %}
<div name=" main">
    <header class="text-right">
        <h1>
            Hello my name is, Jess Mathew P. Evangelista
        </h1>
        <p>
            I'm a junior full stacked python web developer and I use Django framework to<br>build serverside web
            apps together with vue.js as my frontend web framework
        </p>
    </header>
</div>
{% endblock %}