{% extends "my_blog/base.html" %}
{% block title %}about-me{% endblock %}
{% block static_files %}{% endblock %}
{% block content %}
<div name=" main">
    <div name="main-content">
        <div>
            <header>
                <div>
                    <h1>
                        Hello my name is, Jess Mathew P. Evangelista
                    </h1>
                </div>
                <div>
                    <p>
                        I'm a junior full stacked python web developer and I use Django framework to build serverside
                        application together with vue.js as my frontend web framework
                    </p>
                </div>
            </header>
        </div>
    </div>
</div>
{% endblock %}