{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% tailwind_css %}
  {% load static %}
  {% block static_files %}{% endblock %}
</head>

<body class="font-Lato bg-gray-50">
  <div class="relative left-[64px] flex flex-col w-[calc(100%-64px)]">
    <nav class="bg-gray-300 p-2 flex items-center w-full" name="top">
      <div>
        {% if authenticated_user.user_is_authenticated %}
        {{ authenticated_user.user_username }}
        {% endif %}
      </div>
      <div class="flex-1 p-1 flex h-items-center rounded-3xl" name="logo">
        <!-- <img src="{#% static 'favicon.ico' %}" alt="my logo"> -->
      </div>
      <div class="w-max p-1 h-max flex items-center" name="search bar">
        {% if not authenticated_user.user_is_authenticated %}
        <a href="/sign-up" class="user-links">Sign-up</a>
        <a href="/sign-in" class="user-links">Sign-in</a>
        {% else %}
        <form method="POST">
          {% csrf_token %}
          <button class="user-links" type="submit" name="logout_btn" id="logout_btn" value="logout_btn">Logout</button>
        </form>
        {% endif %}
        <form method="POST" action="/search/">
          {% csrf_token %}
          <div class="flex items-center">
            <input class="pl-1 w-52 h-9 placeholder:text-slate-400 placeholder:italic" placeholder="Search..."
              id="search_bar" name="search_bar"></input>
            <button class="p-1 h-9 w-9 hover:bg-gray-500 flex justify-center items-center bg-gray-400 transition-all"
              type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </nav>
    <div id="flash_messages_container" name="flash_messages_container">
      {% if messages %}
      <div class="flex justify-center" name="flash_messages" id="flash_messages">
        {% for message in messages %}
        <div class="bg-gray-200 flex w-[95%] rounded-b-xl p-2" name="messages" id="messages">
          <div class="text-center flex-1">{{ message }}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div name="main-content">
      {% block content %}{% endblock %}
    </div>
    <div class="text-center" name="bottom">
      <footer>
        <!-- footer -->
      </footer>
    </div>
  </div>
  <div class="fixed top-0 left-0 w-max bg-gray-200 h-screen" name="left-sidebar">
    <div class="flex items-center flex-col">
      <div class="sidebar-icon" name="sidebar-home">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
        </a>
      </div>
      <div class="sidebar-icon" name="sidebar-about_me">
        <a href="/about-me">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-user">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'flash_messages.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>